<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>chat </title>
	<link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
</head>
<body>
	<div id="container">
		<div id="messages-container">
			<div id="messages"></div>
		</div>
		<div id="users"></div>
		<div id="clear"></div>
		<div id="msg-input">
			<input id="" type="text" name="" placeholder="mensaje..."/>
		</div>

	</div>

	

	<script type="text/javascript" src="js/socket.io.js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</body>
</html>
